<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Animals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .pagination {
            justify-content: center;
        }
        .pagination .page-item.active .page-link {
            background-color: #86b7fe;
            border-color: #0e0d0d;
        }
        .pagination .page-link {
            color: #0e0d0d;
        }
        .pagination .page-link:hover {
            color: #0056b3;
        }
        .pageNo {
            border : 1px solid; 
            background-color: #dee2e6;
        }
    </style>
</head>

<body>

<div class="container">
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong th:text="${successMessage}"></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

	<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
	    <strong th:text="${errorMessage}"></strong>
	    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="text-center">
	
	
	<h3>Animal Project</h3>
	</div>
    <div class="my-4">
        <button class="btn btn-primary" onclick="showAddAnimal()">Add New</button>
        
        
        <button class="btn btn-primary" onclick="sortAnimals('name')">Sort by Alphabetically</button>
        
        
        <button class="btn btn-primary" onclick="sortAnimals('lifeExpectancy')">Sort by Life Expectancy</button>
        
    	<div class="row my-4">
        <label for="categorySelect" class="col-sm-2 col-form-label">Sort by Category :</label>
        
        <div class="col-sm-4">
        <select id="categorySelect" class="form-select" onchange="sortAnimalsByCategory(this.value)">
            <option value="">Select Category</option>
            <option value="Mammals">Mammals</option>
            <option value="Birds">Birds</option>
            <option value="Fish">Fish</option>
            <option value="Reptiles">Reptiles</option>
            <option value="Amphibians">Amphibians</option>
        </select>
        </div>
    </div>
    </div>
    
    
    <div id="addNewAnimalDiv" style="display:none;">
    <hr>
		<h2>Add New Animal</h2>
		
        <form action="/animal/save" method="post"  enctype="multipart/form-data" onsubmit="return validateForm()">
            
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <select class="form-select" id="categoryId" name="categoryId" required>
                    <option value="">Select</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" ></option>
                </select>
            </div>
            <div class="mb-3">
        		<label for="image" class="form-label">Image:</label>
        		<input type="file" class="form-control" id="image" name="image" accept="image/*" required>
       			<small class="form-text text-muted">Please select an image file (JPEG, PNG, GIF).</small>
    		</div> 
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="lifeExpectancy" class="form-label">Life Expectancy:</label>
                <select class="form-select" id="lifeExpectancyId" name="lifeExpectancyId" required>
                  <option value="">Select</option>
                <option th:each="lifeExpectancy : ${lifeExpectancies}" th:value="${lifeExpectancy.id}" th:text="${lifeExpectancy.range}"></option>
                </select>
            </div>
            <div class="mb-3">
            <label for="captcha">Captcha:</label>
            <div>
                <span id="captchaQuestion"></span> = 
                <input type="text" id="captchaAnswer" required>
                <input type="hidden" id="captchaResult">
            </div>
            
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
     <hr>
    </div>

    <div id="allAnimalList">
        <h2>All Animals List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Life Expectancy</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="animal : ${allAnimalsList}">
                    <td th:text="${animal.name}"></td>
                    <td th:text="${animal.categoryName}"></td>
                      <td>
                		<img th:src="@{/uploads/{imageName}(imageName=${animal.image})}" style="max-width: 100px; max-height: 100px;" />
            		</td>
                    <td th:text="${animal.description}"></td>
                    <td th:text="${animal.lifeExpectancyName}"></td> 
                    <td>
                        <a th:href="@{/animal/edit/{id}(id=${animal.id})}" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-danger" th:onclick="'deleteAnimal(\'' + ${animal.id} + '\')'">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-3">
        <!--  Displays the current page number of the total number of pages.-->
            <span class="pageNo">Page: <span th:text="${currentPage + 1}"></span> of <span th:text="${totalPages}"></span></span>
            <ul class="pagination">
            <!-- Disables the link if the current page is the first page.-->
                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <!--  Links to the previous page.-->
                    <a class="page-link" th:href="@{/animal/home(page=${currentPage - 1}, size=${pageSize})}">Previous</a>
                </li>
                
                 <!--Iterates over the sequence from 0 to the total number of pages minus 1.-->
                <!--Highlights the current page.-->
                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                   th:classappend="${i == currentPage} ? 'active'">
                   <!--Links to the specific page.-->
                   <!--Displays the page number (1-based index)-->
                    <a class="page-link" th:href="@{/animal/home(page=${i}, size=${pageSize})}" th:text="${i + 1}"></a>
                </li>
                
                 <!--Disables the link if the current page is the last page.-->
                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <!--Links to the next page.-->
                    <a class="page-link" th:href="@{/animal/home(page=${currentPage + 1}, size=${pageSize})}">Next</a>
                </li>
                
            </ul>
        </div>
    </div>

    
        
</div>

<script>

	function showAddAnimal() {
		//is responsible for displaying a hidden HTML element 
		//This line accesses the HTML element with the id addNewAnimalDiv 
		//in the current document and assigns it to the variable divElement.
	    var divElement = document.getElementById('addNewAnimalDiv');
	    if (divElement) {
	    	//making it visible
	        divElement.style.display = 'block';
	    }
	    generateCaptcha();
	}
	
	function generateCaptcha(){
		var num1 = Math.floor(Math.random() * 10) + 1;
		var num2 = Math.floor(Math.random() * 10) + 1;
		//innerText This property sets or returns the text content of the specified node.
		document.getElementById('captchaQuestion').innerText = num1 + ' + ' + num2;
		//.value This property sets or returns the value of the specified attribute of the element
		document.getElementById('captchaResult').value = num1 + num2; // Store the correct answer
	}
	
    function validateForm() {
        var name = document.getElementById('name').value;
        var category = document.getElementById('category').value;
        var description = document.getElementById('description').value;
        var lifeExpectancy = document.getElementById('lifeExpectancy').value;
        var captchaAnswer = document.getElementById('captchaAnswer').value;
        var captchaResult = document.getElementById('captchaResult').value;

        if (parseInt(captchaAnswer) !== parseInt(captchaResult)) {
            alert('Please solve the captcha correctly.');
            return false;
        }

        
        if (name.trim() === '' || category === '' || description.trim() === '' || lifeExpectancy === '') {
            alert('Please fill in all required fields.');
            return false;
        }
        
        return true;
    }

    function deleteAnimal(animalId) {
        if (confirm('Are you sure you want to delete this animal?')) {
        	//The fetch function is used to send a request to the server.
            fetch('/animal/delete/' + animalId, {
            	//http delete method
                method: 'DELETE'
            })
            //then(response => {...}) is a promise handler that executes if the fetch request is successful.
            .then(response => {
            	//refreshes the current web page to reflect the deletion.
            	location.reload();
            	alert('Deleted Successfully');
                 
            })
            .catch(error => {
                console.error('Error deleting animal:', error);
                alert('Failed to delete animal. Please try again.');
            });
        }
    }

    function sortAnimalsByCategory(category) {
        if (category) {
            window.location.href = '/animal/home?category=' + category;
        } else {
            window.location.href = '/animal/home';
        }
    } 

    function sortAnimals(sortBy) {
    	 window.location.href = '/animal/home?sortBy=' + sortBy;
    }

    
</script>
</body>
</html>
